*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    background-color: cadetblue;
    box-shadow: 0 4px 4px rgba(0,0,0,.15);
}

h1, h2, h3, h4{
    font-family: Helvetica, sans-serif;
}


a, p{
    font-family: Helvetica, sans-serif;
}

.header-box{
    padding-left: 1%;
    max-width: fit-content;
}
.conteudo{
    background-color: rgb(12, 31, 43);
    width: 100%;
    height: 100vw;
}
.conteudo ul li{
    display: inline;
    margin: 5px;
}

.nav-bar{
    display: inline-flex;
    flex-direction: column;
    width: 300px;
    height: 600px;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-bar > a{
    cursor: pointer;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color: aliceblue;
    border: 1px solid aqua;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0,0,0,.15);
    text-decoration: none;
    text-align: center;
    color: cadetblue;
    margin: 10%;
}

.nav-bar > a:hover{
    width: 300px;
    height: 200px;

}

.mostrar-descricao{
    display: none;
}

.nav-bar > a:hover .mostrar-descricao{
    display: block;
}


.footer {

    height:50px;
    width: 100%;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    background-color: cadetblue;
    color: white;

}   

.footer_contents {

    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
    width: 1000px;
    margin:auto;

}
.popup{
    border-radius: 5px;
    text-align: center;
    background-color: cornflowerblue;
    max-width: 20%;
    height: 10%;
}

.galeria{
    justify-self: center;
}
label{
    display: block;
}
.logo{
    max-width: 150px;
}
table td{
    text-align: center;
    max-width: 200px;
}




